<div class="control-group">
    <div class="controls">
        <label></label>
        <button type="submit" class="btn btn-primary">Save</button>
        <%= link_to 'Cancel', "/#{controller_name}", {:class => 'btn'} %>
    </div>
</div>
